name: Publish to BCR

on:
  workflow_dispatch:
    inputs:
      tag_name:
        required: true
        type: string
jobs:
  publish:
    uses: bazel-contrib/publish-to-bcr/.github/workflows/publish.yaml@v1.0.0
    with:
      tag_name: ${{ inputs.tag_name }}
      registry_fork: jwnimmer-tri/bazel-central-registry
      attest: false
    permissions:
      contents: write
    secrets:
      publish_token: ${{ secrets.BCR_PUBLISH_TOKEN }}
